@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Poppins:wght@100&display=swap");

.main-mobile {
  position: relative;
  width: 375px;
  width: 420px;
  height: 6715px;

  /* Theme 2 / Neutral 11 */
  background: #fff;
  border: 2px solid rgb(228, 215, 215);
  border-radius: 5px;
}

.header-section {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  /* Overlay / Gradient ↓ */
  background: linear-gradient
    (
      180deg,
      rgba(24, 30, 37, 0.08) 0%,
      rgba(24, 30, 37, 0.08) 84%,
      rgba(24, 30, 37, 0.02) 92%,
      rgba(24, 30, 37, 0) 100%
    );
}

.toolbar {
  /* Toolbar Container */
  position: absolute;

  /* visibility: hidden; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("/images/m1_setup/toolbar-mobile.png");
  background-repeat: no-repeat;
}

.logo {
  width: 90px;
  height: 28px;

  /* Theme 2 / Subhead 1 */
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;

  /* identical to box height, or 140% */
  display: flex;
  align-items: center;
  text-align: center;

  /* Theme 2 / Neutral 1 */
  color: #28352f;
  padding-top: 10px;
  padding-left: 16px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  padding: 39px 24px;
  gap: 58px;
  position: absolute;
  width: 375px;
  height: 726px;
  left: 0;
  top: 92px;
}

.primary {
  width: 327px;
  width: 374px;
  height: 192px;

  /* Theme 2 / H2 */

  font-family: "Inter,Helvetica, Arial, Verdana, Tahoma, sans-serif;";

  /* font-style: normal; */
  font-style: bold;
  font-weight: 700;
  font-size: 38px;
  line-height: 70px;

  /* or 130% */
  text-align: center;

  /* Neutrals/N800 */
  color: #172b4d;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

span {
  color: #36b37e;
}

.supporting-text {
  width: 327px;
  height: 164px;
  margin-top: 120px;

  /* Theme 2 / Body Reguler 1 */
  font-family: "Inter,Helvetica, Arial, Verdana, Tahoma, sans-serif;";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  /* or 140% */
  text-align: center;

  /* Neutrals/N800 */
  color: #172b4d;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social-media-icons {
  /* social media icons */
  width: 170.17px;
  height: 20px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.twitter {
  position: absolute;
  left: 27.31%;
  right: 67.36%;
  top: 73.83%;
  bottom: 23.42%;
}

.linked-in {
  position: absolute;
  left: 36.04%;
  right: 59.16%;
  top: 73.83%;
  bottom: 23.42%;
}

.github {
  position: absolute;
  left: 54.04%;
  right: 36.16%;
  top: 73.83%;
  bottom: 23.42%;
}

.medium {
  position: absolute;
  left: 44.38%;
  right: 46.29%;
  top: 74.1%;
  bottom: 23.69%;
}

.angellist {
  position: absolute;
  left: 64.91%;
  right: 27.31%;
  top: 73.83%;
  bottom: 23.42%;
}
