@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Poppins:wght@100&display=swap");

.main-mobile {
  position: relative;
  width: 375px;
  width: 420px;
  height: 6715px;
  background: #fff;
  border: 2px solid rgb(228, 215, 215);
  border-radius: 5px;
  background-image: url("/images/m1_setup/header-shapes\ mobile.png ");
  background-repeat: no-repeat;
}

.header-section {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("/images/m1_setup/toolbar-mobile.png");
  background-repeat: no-repeat;
}

.logo {
  width: 90px;
  height: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #28352f;
  padding-top: 10px;
  padding-left: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  padding: 39px 24px;
  gap: 58px;
  position: absolute;
  width: 375px;
  height: 726px;
  left: 0;
  top: 92px;
}

.primary {
  width: 327px;
  width: 374px;
  height: 192px;
  font-style: bold;
  font-weight: 700;
  font-size: 38px;
  line-height: 70px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.span-text {
  color: rgb(112, 240, 112);
  color: #36b37e;
  font-size: 58px;
  margin-top: -54px;
}

.supporting-text {
  width: 327px;
  height: 164px;
  margin-top: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social-media-icons {
  width: 170.17px;
  height: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: -59px;
  margin-top: -59px;
}

ul img {
  width: 19px;
  height: 19px;
}
